<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO App</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
<div class="flex-column">
  <h1>Login Insano</h1>
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" placeholder="Seu email" type="email">
  </div>
  <div class="form-group">
    <label for="password">Senha</label>
    <input id="password" placeholder="Sua senha" type="password">
  </div>
  <button type="submit" id="loginBtn">Bora</button>
</div>
<script>
  document.getElementById('loginBtn').addEventListener('click', function() {
    const email = document.getElementById('email').value.trim();
    const password = document.getElementById('password').value.trim();
    if (email && password) {
      window.location.href = 'task.html';
    } else {
      alert('Por favor, preencha email e senha.');
    }
  });
</script>
</body>
</html>
